@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  @apply bg-[#F9FAFB];
}

/* Remove default button styles */
button {
  background: none;
  border: none;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}